USE [master]
GO
/****** Object:  Database [CidadesBD]    Script Date: 01/10/2023 20:46:18 ******/
CREATE DATABASE [CidadesBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CidadesBD', FILENAME = N'C:\MSSQL\Data\CidadesBD.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CidadesBD_log', FILENAME = N'C:\MSSQL\Log\CidadesBD_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CidadesBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CidadesBD]
GO
/****** Object:  Table [dbo].[Atracoes]    Script Date: 01/10/2023 20:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atracoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CidadeID] [int] NULL,
	[Nome] [varchar](100) NOT NULL,
	[Descricao] [text] NULL,
	[LinkImg] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 01/10/2023 20:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Populacao] [int] NULL,
	[Descricao] [text] NULL,
	[ImagemURL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atracoes]  WITH CHECK ADD FOREIGN KEY([CidadeID])
REFERENCES [dbo].[Cidades] ([ID])
GO
USE [master]
GO
