<!DOCTYPE html>
<html>
<head>
    <title>Teste de URL de Imagem</title>
</head>
<body>
    <h1>Teste de URL de Imagem</h1>

    <!-- Substitua o URL abaixo com a URL real da imagem que deseja testar -->
    <img src="https://images2.imgbox.com/44/45/yHfmFdCS_o.jpg" alt="Imagem de Teste">
</body>
</html>
